.icon {
  display: inline-block;
}

.icon::before {
  content: '';
  width: 24px;
  height: 24px;
  display: inline-block;
  background: url("../images/icons.png") 0 0;
  vertical-align: text-top;
}

.icon--user::before { background-position: 0 0; }
.icon--envelope::before { background-position: -24px 0; }
.icon--phone::before { background-position: -48px 0; }
.icon--lock::before { background-position: -72px 0; }
.icon--marker::before { background-position: -96px 0; }